.version.ilustracion /* version checker */
{
	color: #000007;
	background-color: #78FF78;
}

.html
{
	background: #000000 url("../images/patronsobrenegro.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 884px;
	min-height: 2051px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 196px 122px 200px;
}

#u3255
{
	z-index: 161;
	width: 50px;
	background-color: transparent;
	position: fixed;
	top: 11px;
	left: 1151px;
}

#u553
{
	z-index: 3;
	width: 90px;
	background-color: transparent;
	margin-left: 372px;
	position: relative;
}

#u548
{
	z-index: 2;
	width: 840px;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-left: 17px;
	margin-top: 39px;
	position: relative;
}

#u2652-4
{
	z-index: 157;
	display: block;
	vertical-align: top;
	margin-left: 334px;
	margin-top: 37px;
	position: relative;
}

#u735-5
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 115px;
	margin-top: 23px;
	position: relative;
}

#slideshowu736
{
	z-index: 14;
	width: 0.01px;
	height: 357px;
	margin-left: 41px;
	margin-top: 9px;
	position: relative;
}

#u754
{
	position: absolute;
	width: 799px;
	height: 300px;
	background-color: transparent;
}

#u754popup
{
	z-index: 15;
}

#u845
{
	z-index: 16;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5457
{
	z-index: 18;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2059
{
	z-index: 20;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2068
{
	z-index: 22;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2077
{
	z-index: 24;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2086
{
	z-index: 26;
	width: 799px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u845_clip,#u5457_clip,#u2059_clip,#u2068_clip,#u2077_clip,#u2086_clip
{
	overflow: hidden;
	width: 799px;
	height: 300px;
}

#u845_img,#u5457_img,#u2059_img,#u2068_img,#u2077_img,#u2086_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u738
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 317px;
	left: 160px;
}

#u738popup
{
	z-index: 28;
}

#u851-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5463-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2065-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2074-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2083-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2092-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u749-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 318px;
	left: 541px;
}

#u749-4popup
{
	z-index: 53;
}

#u761-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 318px;
	left: 509px;
}

#u761-4popup
{
	z-index: 57;
}

#u749,#u761
{
	color: #999999;
}

#u737-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 317px;
	left: 609px;
}

#u737-4popup
{
	z-index: 61;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2651-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	margin-left: 377px;
	margin-top: 42px;
	position: relative;
}

#u2649-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 52px;
	margin-top: 17px;
	position: relative;
}

#slideshowu1862
{
	z-index: 65;
	width: 0.01px;
	height: 1192px;
	position: relative;
}

#u1863
{
	position: absolute;
	width: 779px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 169px;
	left: 57px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1863popup
{
	z-index: 66;
}

#u1868
{
	z-index: 67;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1950
{
	z-index: 69;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1959
{
	z-index: 71;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1968
{
	z-index: 73;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1977
{
	z-index: 75;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1986
{
	z-index: 77;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1995
{
	z-index: 79;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2004
{
	z-index: 81;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2013
{
	z-index: 83;
	width: 735px;
	height: 551px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1868_img,#u1950_img,#u1959_img,#u1968_img,#u1977_img,#u1986_img,#u1995_img,#u2004_img,#u2013_img
{
	padding-left: 154px;
	padding-right: 154px;
}

#u1878
{
	position: absolute;
	width: 884px;
}

#u1878popup
{
	z-index: 85;
}

#u1881
{
	z-index: 86;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1953
{
	z-index: 88;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u1962
{
	z-index: 90;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#u1881:hover,#u1953:hover,#u1962:hover
{
	width: 279px;
	height: 368px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1971
{
	z-index: 92;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
}

#u1980
{
	z-index: 94;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 301px;
}

#u1989
{
	z-index: 96;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 601px;
}

#u1971:hover,#u1980:hover,#u1989:hover
{
	width: 279px;
	height: 368px;
	min-height: 0px;
	margin: 412px -10000px 0px 0px;
}

#u1998
{
	z-index: 98;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 824px;
	left: 605px;
}

#u2007
{
	z-index: 100;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 824px;
	left: 301px;
}

#u2016
{
	z-index: 102;
	width: 279px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 824px;
}

#u1998:hover,#u2007:hover,#u2016:hover
{
	width: 279px;
	height: 368px;
	min-height: 0px;
	margin: 824px -10000px 0px 0px;
}

#u1881_clip,#u1953_clip,#u1962_clip,#u1971_clip,#u1980_clip,#u1989_clip,#u1998_clip,#u2007_clip,#u2016_clip
{
	overflow: hidden;
	width: 279px;
	height: 368px;
}

#u1881_img,#u1953_img,#u1962_img,#u1971_img,#u1980_img,#u1989_img,#u1998_img,#u2007_img,#u2016_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u1871
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 744px;
	left: 270px;
}

#u1871popup
{
	z-index: 104;
}

#u1874-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1956-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1965-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1974-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1983-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1992-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2001-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2010-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2019-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1876-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 561px;
	left: 684px;
}

#u1876-4popup
{
	z-index: 141;
}

#u1885-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 561px;
	left: 784px;
}

#u1885-4popup
{
	z-index: 145;
}

#u1877-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 561px;
	left: 714px;
}

#u1877-4popup
{
	z-index: 149;
}

#u3396-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	margin-left: 277px;
	margin-top: 61px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

