.version.nataliagdcontact_me /* version checker */
{
	color: #0000F3;
	background-color: #8D803A;
}

.html
{
	background: #FFFFFF url("../images/backgroundv7.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 836px;
	min-height: 533.9250000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 83px 206px 56.07499999999993px 238px;
}

#u7409
{
	z-index: 17;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 320px;
	position: relative;
}

#pu7418
{
	width: 0.01px;
	margin-right: -10000px;
}

#u7418
{
	z-index: 22;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7410
{
	z-index: 24;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu7420
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u7420
{
	z-index: 18;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7414
{
	z-index: 26;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7414:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu7412
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u7412
{
	z-index: 20;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7416
{
	z-index: 28;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7418:hover,#u7410:hover,#u7416:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7426
{
	z-index: 46;
	width: 75px;
	background-color: transparent;
	margin-left: 380px;
	margin-top: 56px;
	position: relative;
}

#u7423-4
{
	z-index: 34;
	width: 277px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 279px;
	margin-top: 71px;
	position: relative;
}

#u7422-4
{
	z-index: 30;
	width: 227px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 304px;
	margin-top: 4px;
	position: relative;
}

#u7424-4
{
	z-index: 38;
	width: 138px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 349px;
	margin-top: 5px;
	position: relative;
}

#u7425-4
{
	z-index: 42;
	width: 128px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 354px;
	margin-top: 4px;
	position: relative;
}

#u7423,#u7422,#u7424,#u7425
{
	color: #FFFFFF;
}

#u4244
{
	z-index: 2;
	width: 836px;
	height: 1px;
	background-color: #FFFFFF;
	margin-top: 32px;
	position: relative;
}

#pu4276
{
	width: 0.01px;
	margin-left: 183px;
	margin-top: 18px;
}

#u4276
{
	z-index: 15;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4282
{
	z-index: 7;
	margin-bottom: -3px;
	position: relative;
	width: 58px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 54px;
}

#u4282_states
{
	height: 48px;
	width: 58px;
	vertical-align: top;
	background: url("../images/u4282_states.png") no-repeat 6px 6px;
}

#u4282:hover #u4282_states
{
	background: url("../images/u4282_states-r.png") no-repeat 0px 0px;
}

#u4269
{
	z-index: 4;
	margin-bottom: -3px;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 155px;
}

#u4269_states
{
	height: 48px;
	width: 94px;
	vertical-align: top;
	background: url("../images/u4269_states.png") no-repeat 6px 6px;
}

#u4269:hover #u4269_states
{
	background: url("../images/u4269_states-r.png") no-repeat 0px 0px;
}

#u4270
{
	z-index: 10;
	height: 46px;
	width: 79px;
	vertical-align: top;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 291px;
	background: url("../images/u4270.png") no-repeat 6px 5px;
}

#u4270:hover
{
	background: url("../images/u4270-r.png") no-repeat 0px 0px;
}

#u4283
{
	z-index: 13;
	margin-bottom: -2px;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 413px;
}

#u4283_states
{
	height: 46px;
	width: 85px;
	vertical-align: top;
	background: url("../images/u4283_states.png") no-repeat 7px 5px;
}

#u4283:hover #u4283_states
{
	background: url("../images/u4283_states-r.png") no-repeat 0px 0px;
}

#u7435-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 217px;
	margin-top: 61px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

