.version.nataliagdeditorial /* version checker */
{
	color: #0000FC;
	background-color: #2B5C5A;
}

.html
{
	background: #FFFFFF url("../images/backgroundv6.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4688.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -74px;
	margin-bottom: -2px;
	width: 0.01px;
}

#pu2943
{
	width: 0.01px;
	margin-left: 240px;
}

#u2943
{
	z-index: 30;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#pu2949-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 260px;
}

#u2949-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 78px;
	position: relative;
}

#u2296-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 50px;
	position: relative;
}

#u2309
{
	z-index: 28;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u2111
{
	z-index: 15;
	width: 840px;
	height: 1px;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-left: 217px;
	margin-top: 10px;
	position: relative;
}

#u3267
{
	z-index: 32;
	width: 50px;
	background-color: transparent;
	position: fixed;
	top: 195px;
	left: 1129px;
}

#pu3791
{
	width: 0.01px;
	margin-left: 273px;
	margin-top: 22px;
}

#u3791
{
	z-index: 2;
	width: 736px;
	height: 1050px;
	background-color: #E6E7E8;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
}

#u2110-7
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#slideshowu3423
{
	z-index: 38;
	width: 0.01px;
	height: 1027px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 13px;
}

#u3441
{
	position: absolute;
	width: 1480px;
	height: 621px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -347px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3441popup
{
	z-index: 39;
}

#u3442
{
	z-index: 40;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3495
{
	z-index: 42;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3486
{
	z-index: 44;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3504
{
	z-index: 46;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3442_img,#u3495_img,#u3486_img,#u3504_img
{
	padding: 67px 144px;
}

#u3431popup
{
	z-index: 48;
}

#u3436
{
	z-index: 49;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
}

#u3436:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 259px -10000px 0px 0px;
}

#u3498
{
	z-index: 51;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
}

#u3498:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 778px -10000px 0px 0px;
}

#u3489
{
	z-index: 53;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 519px;
}

#u3489:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 519px -10000px 0px 0px;
}

#u3507
{
	z-index: 55;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3507:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3436_clip,#u3498_clip,#u3489_clip,#u3507_clip
{
	overflow: hidden;
	width: 712px;
	height: 249px;
}

#u3436_img,#u3498_img,#u3489_img,#u3507_img
{
	margin-top: -7px;
	margin-bottom: -8px;
}

#u3424
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -288px;
	left: 111px;
}

#u3424popup
{
	z-index: 57;
}

#u3425-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3501-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3492-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3510-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3429-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 461px;
}

#u3429-4popup
{
	z-index: 74;
}

#u3438-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 561px;
}

#u3438-4popup
{
	z-index: 78;
}

#u3430-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 491px;
}

#u3430-4popup
{
	z-index: 82;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu3514
{
	z-index: 86;
	width: 0.01px;
	height: 542px;
	margin-left: 193px;
	margin-top: 47px;
	position: relative;
}

#u3532
{
	position: absolute;
	width: 1480px;
	height: 644px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -405px;
	left: -294px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3532popup
{
	z-index: 87;
}

#u3533
{
	z-index: 88;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3533_img
{
	padding: 2px 516px;
}

#u3572
{
	z-index: 90;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3572_img
{
	padding: 2px 509px;
}

#u3581
{
	z-index: 92;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3581_img
{
	padding: 2px 518px 2px 519px;
}

#u3522
{
	position: absolute;
	width: 893px;
}

#u3522popup
{
	z-index: 94;
}

#u3527
{
	z-index: 95;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3527_img
{
	margin-left: -3px;
	margin-right: -4px;
}

#u3575
{
	z-index: 97;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u3575_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u3584
{
	z-index: 99;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 521px;
}

#u3527:hover,#u3575:hover,#u3584:hover
{
	width: 372px;
	height: 542px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3527_clip,#u3575_clip,#u3584_clip
{
	overflow: hidden;
	width: 372px;
	height: 542px;
}

#u3584_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u3515
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -452px;
	left: 240px;
}

#u3515popup
{
	z-index: 101;
}

#u3516-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3578-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3587-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3520-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 240px;
}

#u3520-4popup
{
	z-index: 114;
}

#u3529-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 340px;
}

#u3529-4popup
{
	z-index: 118;
}

#u3521-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 270px;
}

#u3521-4popup
{
	z-index: 122;
}

#u2530-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-left: 500px;
	margin-top: 61px;
	position: relative;
}

#pu3792
{
	width: 0.01px;
	margin-left: 273px;
	margin-top: 21px;
}

#u3792
{
	z-index: 3;
	width: 736px;
	height: 2462px;
	background-color: #E6E7E8;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u2531-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#slideshowu3594
{
	z-index: 126;
	width: 0.01px;
	height: 1878px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 13px;
}

#u3612
{
	position: absolute;
	width: 1480px;
	height: 711px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -203px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3612popup
{
	z-index: 127;
}

#u3613
{
	z-index: 128;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3672
{
	z-index: 130;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3681
{
	z-index: 132;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3690
{
	z-index: 134;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3699
{
	z-index: 136;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3708
{
	z-index: 138;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3717
{
	z-index: 140;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3613_img,#u3672_img,#u3681_img,#u3690_img,#u3699_img,#u3708_img,#u3717_img
{
	padding: 112px 144px;
}

#u3602popup
{
	z-index: 142;
}

#u3607
{
	z-index: 143;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3607:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3675
{
	z-index: 145;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
}

#u3675:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 270px -10000px 0px 0px;
}

#u3684
{
	z-index: 147;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
}

#u3684:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 540px -10000px 0px 0px;
}

#u3693
{
	z-index: 149;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
}

#u3693:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 810px -10000px 0px 0px;
}

#u3702
{
	z-index: 151;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1080px;
}

#u3702:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1080px -10000px 0px 0px;
}

#u3711
{
	z-index: 153;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1351px;
}

#u3711:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1351px -10000px 0px 0px;
}

#u3720
{
	z-index: 155;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1621px;
}

#u3720:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1621px -10000px 0px 0px;
}

#u3607_clip,#u3675_clip,#u3684_clip,#u3693_clip,#u3702_clip,#u3711_clip,#u3720_clip
{
	overflow: hidden;
	width: 712px;
	height: 257px;
}

#u3607_img,#u3675_img,#u3684_img,#u3693_img,#u3702_img,#u3711_img,#u3720_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u3595
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -125px;
	left: 116px;
}

#u3595popup
{
	z-index: 157;
}

#u3596-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3678-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3687-4
{
	z-index: 166;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3696-4
{
	z-index: 170;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3705-4
{
	z-index: 174;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3714-4
{
	z-index: 178;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3723-4
{
	z-index: 182;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3600-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 470px;
}

#u3600-4popup
{
	z-index: 186;
}

#u3609-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 570px;
}

#u3609-4popup
{
	z-index: 190;
}

#u3601-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 500px;
}

#u3601-4popup
{
	z-index: 194;
}

#slideshowu3727
{
	z-index: 198;
	width: 0.01px;
	height: 522px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1973px;
	left: 13px;
}

#u3745
{
	position: absolute;
	width: 1480px;
	height: 778px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 42px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3745popup
{
	z-index: 199;
}

#u3746
{
	z-index: 200;
	width: 1436px;
	height: 716px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3746_img
{
	padding: 52px 319px 51px;
}

#u3431,#u3602,#u3735
{
	position: absolute;
	width: 712px;
}

#u3735popup
{
	z-index: 202;
}

#u3740
{
	z-index: 203;
	width: 712px;
	height: 522px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3740:hover
{
	width: 712px;
	height: 522px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3740_clip
{
	overflow: hidden;
	width: 712px;
	height: 522px;
}

#u3740_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u3728
{
	position: absolute;
	width: 374px;
	background-color: transparent;
	top: 76px;
	left: 209px;
}

#u3728popup
{
	z-index: 205;
}

#u3729-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u3397-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-left: 483px;
	margin-top: 97px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 104px;
}

#page .verticalspacer
{
	clear: both;
}

