.version.nataliagdcontacto /* version checker */
{
	color: #000006;
	background-color: #78C1F7;
}

.html
{
	background: #FFFFFF url("../images/backgroundv7.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 836px;
	min-height: 551px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 43px 206px 79px 238px;
}

#u7408
{
	z-index: 3;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 315px;
	position: relative;
}

#pu3303
{
	width: 0.01px;
	margin-right: -10000px;
}

#u3303
{
	z-index: 8;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3298
{
	z-index: 10;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu3309
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u3309
{
	z-index: 4;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3290
{
	z-index: 12;
	width: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3290:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu3294
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u3294
{
	z-index: 6;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3296
{
	z-index: 14;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3303:hover,#u3298:hover,#u3296:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7405
{
	z-index: 50;
	width: 75px;
	background-color: transparent;
	margin-left: 376px;
	margin-top: 56px;
	position: relative;
}

#u7403-4
{
	z-index: 38;
	width: 277px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 275px;
	margin-top: 71px;
	position: relative;
}

#u7396-4
{
	z-index: 34;
	width: 227px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 300px;
	margin-top: 4px;
	position: relative;
}

#u7400-4
{
	z-index: 42;
	width: 138px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 345px;
	margin-top: 5px;
	position: relative;
}

#u7402-4
{
	z-index: 46;
	width: 128px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 350px;
	margin-top: 4px;
	position: relative;
}

#u7403,#u7396,#u7400,#u7402
{
	color: #FFFFFF;
}

#u3302
{
	z-index: 2;
	width: 836px;
	height: 1px;
	background-color: #FFFFFF;
	margin-top: 73px;
	position: relative;
}

#pu3333
{
	width: 0.01px;
	margin-left: 161px;
	margin-top: 18px;
}

#u3333
{
	z-index: 28;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3329
{
	z-index: 20;
	margin-bottom: -3px;
	position: relative;
	width: 58px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 54px;
}

#u3329_states
{
	height: 48px;
	width: 58px;
	vertical-align: top;
	background: url("../images/u3329_states.png") no-repeat 6px 6px;
}

#u3329:hover #u3329_states
{
	background: url("../images/u3329_states-r.png") no-repeat 0px 0px;
}

#u3328
{
	z-index: 17;
	margin-bottom: -3px;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 155px;
}

#u3328_states
{
	height: 50px;
	width: 94px;
	vertical-align: top;
	background: url("../images/u3328_states.png") no-repeat 6px 6px;
}

#u3328:hover #u3328_states
{
	background: url("../images/u3328_states-r.png") no-repeat 0px 0px;
}

#u3330
{
	z-index: 23;
	margin-bottom: -2px;
	position: relative;
	width: 79px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 291px;
}

#u3330_states
{
	height: 46px;
	width: 79px;
	vertical-align: top;
	background: url("../images/u3330_states.png") no-repeat 6px 5px;
}

#u3330:hover #u3330_states
{
	background: url("../images/u3330_states-r.png") no-repeat 0px 0px;
}

#u3331
{
	z-index: 26;
	margin-bottom: -2px;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 413px;
}

#u3331_states
{
	height: 46px;
	width: 85px;
	vertical-align: top;
	background: url("../images/u3331_states.png") no-repeat 7px 5px;
}

#u3331:hover #u3331_states
{
	background: url("../images/u3331_states-r.png") no-repeat 0px 0px;
}

#u3404-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-left: 210px;
	margin-top: 37px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

