.version.nataliagdaudiovisual /* version checker */
{
	color: #0000F8;
	background-color: #AE652D;
}

.html
{
	background: #000000 url("../images/backgroundv5.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 863px;
	min-height: 2136px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 200px 31px 217px;
}

#u2825-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 337px;
	position: relative;
}

#u2761
{
	z-index: 10;
	width: 840px;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-top: 19px;
	position: relative;
}

#pu2797
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 37px;
}

#u2797
{
	z-index: 2;
	width: 569px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 286px;
}

#u2760-6
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
}

#u2764-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 329px;
}

#u4320
{
	z-index: 56;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 358px;
}

#u7445
{
	z-index: 60;
	width: 50px;
	background-color: transparent;
	position: fixed;
	top: 233px;
	left: 1148px;
}

#pu2811
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 61px;
}

#u2811
{
	z-index: 4;
	width: 569px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 286px;
}

#u2814-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
}

#u2810-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 329px;
}

#u4325
{
	z-index: 57;
	width: 340px;
	min-height: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 354px;
}

#pu2816
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 39px;
}

#u2816
{
	z-index: 6;
	width: 569px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 286px;
}

#u2819-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
}

#u2815-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 329px;
}

#u4327
{
	z-index: 58;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 359px;
}

#pu2821
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 40px;
}

#u2821
{
	z-index: 8;
	width: 569px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 286px;
}

#u2824-7
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: -1px;
}

#u2820-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u4329
{
	z-index: 59;
	width: 340px;
	min-height: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 357px;
}

#u3403-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-left: 261px;
	margin-top: 10px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

