.version.nataliagdeditoriale /* version checker */
{
	color: #00000F;
	background-color: #4206E9;
}

.html
{
	background: #FFFFFF url("../images/backgroundv6.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4688.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -74px;
	margin-bottom: -2px;
	width: 0.01px;
}

#pu7288
{
	width: 0.01px;
	margin-left: 240px;
}

#u7288
{
	z-index: 30;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#pu7285-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 260px;
}

#u7285-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-left: 78px;
	position: relative;
}

#u7341-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 50px;
	position: relative;
}

#u7338
{
	z-index: 28;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u7340
{
	z-index: 15;
	width: 840px;
	height: 1px;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-left: 217px;
	margin-top: 10px;
	position: relative;
}

#u7290
{
	z-index: 32;
	width: 50px;
	background-color: transparent;
	position: fixed;
	top: 195px;
	left: 1129px;
}

#pu7293
{
	width: 0.01px;
	margin-left: 273px;
	margin-top: 22px;
}

#u7293
{
	z-index: 2;
	width: 736px;
	height: 1050px;
	background-color: #E6E7E8;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
}

#u7292-7
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#slideshowu7208
{
	z-index: 38;
	width: 0.01px;
	height: 1027px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 13px;
}

#u7226
{
	position: absolute;
	width: 1480px;
	height: 621px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -347px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7226popup
{
	z-index: 39;
}

#u7227
{
	z-index: 40;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7231
{
	z-index: 42;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7229
{
	z-index: 44;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7233
{
	z-index: 46;
	width: 1436px;
	height: 559px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7227_img,#u7231_img,#u7229_img,#u7233_img
{
	padding: 67px 144px;
}

#u7209popup
{
	z-index: 48;
}

#u7210
{
	z-index: 49;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
}

#u7210:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 259px -10000px 0px 0px;
}

#u7214
{
	z-index: 51;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
}

#u7214:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 778px -10000px 0px 0px;
}

#u7212
{
	z-index: 53;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 519px;
}

#u7212:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 519px -10000px 0px 0px;
}

#u7216
{
	z-index: 55;
	width: 712px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7216:hover
{
	width: 712px;
	height: 249px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7210_clip,#u7214_clip,#u7212_clip,#u7216_clip
{
	overflow: hidden;
	width: 712px;
	height: 249px;
}

#u7210_img,#u7214_img,#u7212_img,#u7216_img
{
	margin-top: -7px;
	margin-bottom: -8px;
}

#u7218
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -288px;
	left: 111px;
}

#u7218popup
{
	z-index: 57;
}

#u7220-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7222-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7221-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7219-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7223-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 461px;
}

#u7223-4popup
{
	z-index: 74;
}

#u7225-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 561px;
}

#u7225-4popup
{
	z-index: 78;
}

#u7224-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -288px;
	left: 491px;
}

#u7224-4popup
{
	z-index: 82;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu7294
{
	z-index: 86;
	width: 0.01px;
	height: 542px;
	margin-left: 193px;
	margin-top: 47px;
	position: relative;
}

#u7296
{
	position: absolute;
	width: 1480px;
	height: 644px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -405px;
	left: -294px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7296popup
{
	z-index: 87;
}

#u7301
{
	z-index: 88;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7301_img
{
	padding: 2px 516px;
}

#u7297
{
	z-index: 90;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7297_img
{
	padding: 2px 509px;
}

#u7299
{
	z-index: 92;
	width: 1436px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7299_img
{
	padding: 2px 518px 2px 519px;
}

#u7313
{
	position: absolute;
	width: 893px;
}

#u7313popup
{
	z-index: 94;
}

#u7314
{
	z-index: 95;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7314_img
{
	margin-left: -3px;
	margin-right: -4px;
}

#u7316
{
	z-index: 97;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u7316_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u7318
{
	z-index: 99;
	width: 372px;
	height: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 521px;
}

#u7314:hover,#u7316:hover,#u7318:hover
{
	width: 372px;
	height: 542px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7314_clip,#u7316_clip,#u7318_clip
{
	overflow: hidden;
	width: 372px;
	height: 542px;
}

#u7318_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u7303
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -452px;
	left: 240px;
}

#u7303popup
{
	z-index: 101;
}

#u7304-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7305-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7306-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7307-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 240px;
}

#u7307-4popup
{
	z-index: 114;
}

#u7309-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 340px;
}

#u7309-4popup
{
	z-index: 118;
}

#u7308-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -422px;
	left: 270px;
}

#u7308-4popup
{
	z-index: 122;
}

#u7287-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-left: 546px;
	margin-top: 61px;
	position: relative;
}

#pu7286
{
	width: 0.01px;
	margin-left: 273px;
	margin-top: 21px;
}

#u7286
{
	z-index: 3;
	width: 736px;
	height: 2462px;
	background-color: #E6E7E8;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#u7337-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#slideshowu7239
{
	z-index: 126;
	width: 0.01px;
	height: 1878px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 13px;
}

#u7243
{
	position: absolute;
	width: 1480px;
	height: 711px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -203px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7243popup
{
	z-index: 127;
}

#u7252
{
	z-index: 128;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7254
{
	z-index: 130;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7248
{
	z-index: 132;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7244
{
	z-index: 134;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7250
{
	z-index: 136;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7246
{
	z-index: 138;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7256
{
	z-index: 140;
	width: 1436px;
	height: 649px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7252_img,#u7254_img,#u7248_img,#u7244_img,#u7250_img,#u7246_img,#u7256_img
{
	padding: 112px 144px;
}

#u7270popup
{
	z-index: 142;
}

#u7275
{
	z-index: 143;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7275:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7277
{
	z-index: 145;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
}

#u7277:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 270px -10000px 0px 0px;
}

#u7273
{
	z-index: 147;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
}

#u7273:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 540px -10000px 0px 0px;
}

#u7271
{
	z-index: 149;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
}

#u7271:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 810px -10000px 0px 0px;
}

#u7279
{
	z-index: 151;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1080px;
}

#u7279:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1080px -10000px 0px 0px;
}

#u7283
{
	z-index: 153;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1351px;
}

#u7283:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1351px -10000px 0px 0px;
}

#u7281
{
	z-index: 155;
	width: 712px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1621px;
}

#u7281:hover
{
	width: 712px;
	height: 257px;
	min-height: 0px;
	margin: 1621px -10000px 0px 0px;
}

#u7275_clip,#u7277_clip,#u7273_clip,#u7271_clip,#u7279_clip,#u7283_clip,#u7281_clip
{
	overflow: hidden;
	width: 712px;
	height: 257px;
}

#u7275_img,#u7277_img,#u7273_img,#u7271_img,#u7279_img,#u7283_img,#u7281_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u7261
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -125px;
	left: 116px;
}

#u7261popup
{
	z-index: 157;
}

#u7268-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7266-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7267-4
{
	z-index: 166;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7264-4
{
	z-index: 170;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7262-4
{
	z-index: 174;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7265-4
{
	z-index: 178;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7263-4
{
	z-index: 182;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7259-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 470px;
}

#u7259-4popup
{
	z-index: 186;
}

#u7242-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 570px;
}

#u7242-4popup
{
	z-index: 190;
}

#u7260-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -125px;
	left: 500px;
}

#u7260-4popup
{
	z-index: 194;
}

#slideshowu7320
{
	z-index: 198;
	width: 0.01px;
	height: 522px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1973px;
	left: 13px;
}

#u7326
{
	position: absolute;
	width: 1480px;
	height: 778px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 42px;
	left: -386px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7326popup
{
	z-index: 199;
}

#u7327
{
	z-index: 200;
	width: 1436px;
	height: 716px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7327_img
{
	padding: 52px 319px 51px;
}

#u7209,#u7270,#u7323
{
	position: absolute;
	width: 712px;
}

#u7323popup
{
	z-index: 202;
}

#u7324
{
	z-index: 203;
	width: 712px;
	height: 522px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7324:hover
{
	width: 712px;
	height: 522px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7324_clip
{
	overflow: hidden;
	width: 712px;
	height: 522px;
}

#u7324_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u7334
{
	position: absolute;
	width: 374px;
	background-color: transparent;
	top: 76px;
	left: 209px;
}

#u7334popup
{
	z-index: 205;
}

#u7335-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u7336-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-left: 483px;
	margin-top: 97px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 104px;
}

#page .verticalspacer
{
	clear: both;
}

