.version.index /* version checker */
{
	color: #0000F5;
	background-color: #7FA4B7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/backgroundv3.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 190px;
	min-height: 403.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 95px 95px 71.25px;
}

#u4450-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 71px;
	position: relative;
}

#u4447
{
	z-index: 2;
	width: 190px;
	background-color: transparent;
	margin-top: 62px;
	position: relative;
}

#u4451-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 71px;
	margin-top: 89px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

