.version.nataliagdperfil /* version checker */
{
	color: #0000E2;
	background-color: #6C5ADF;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/backgroundv7.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 327px;
	min-height: 490px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 20px 71px 33px;
}

#u6902
{
	z-index: 13;
	width: 50px;
	background-color: transparent;
	margin-left: 133px;
	position: relative;
}

#u6793-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 34px;
	margin-top: 15px;
	position: relative;
}

#u6792-7
{
	z-index: 2;
	width: 291px;
	min-height: 256px;
	background-color: transparent;
	text-align: justify;
	color: #FFFFFF;
	margin-left: 9px;
	margin-top: 32px;
	position: relative;
}

#u6792
{
	color: #FFFFFF;
}

#u6792-3
{
	font-size: 12px;
	line-height: 14px;
}

#u6792-5
{
	font-size: 13px;
	line-height: 16px;
}

#u6905-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 90px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

