.version.nataliagdillustration /* version checker */
{
	color: #0000F2;
	background-color: #BFAE9D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/backgroundv7.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1732px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 71px;
}

#slideshowu5662
{
	z-index: 2;
	width: 0.01px;
	height: 466px;
	position: fixed;
	top: 79px;
	left: 59px;
}

#u5668
{
	position: absolute;
	width: 364px;
	height: 299px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -37px;
	left: -59px;
	-pie-background: rgba(0,0,0,0.9);
}

#u5668popup
{
	z-index: 3;
}

#u5671
{
	z-index: 4;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5734
{
	z-index: 6;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5743
{
	z-index: 8;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5752
{
	z-index: 10;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5761
{
	z-index: 12;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5773
{
	z-index: 14;
	width: 320px;
	height: 237px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5671_img,#u5734_img,#u5743_img,#u5752_img,#u5761_img,#u5773_img
{
	padding: 60px 2px 59px;
}

#u5681
{
	position: absolute;
	width: 257px;
}

#u5681popup
{
	z-index: 16;
}

#u5686
{
	z-index: 17;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5737
{
	z-index: 19;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u5686:hover,#u5737:hover
{
	width: 123px;
	height: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5746
{
	z-index: 21;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
}

#u5755
{
	z-index: 23;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 134px;
}

#u5746:hover,#u5755:hover
{
	width: 123px;
	height: 150px;
	min-height: 0px;
	margin: 158px -10000px 0px 0px;
}

#u5764
{
	z-index: 25;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
}

#u5776
{
	z-index: 27;
	width: 123px;
	height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 134px;
}

#u5764:hover,#u5776:hover
{
	width: 123px;
	height: 150px;
	min-height: 0px;
	margin: 316px -10000px 0px 0px;
}

#u5677
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 207px;
	left: -19px;
}

#u5677popup
{
	z-index: 29;
}

#u5679-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5740-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5749-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5758-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5767-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5779-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5675-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 233px;
	left: -19px;
}

#u5675-4popup
{
	z-index: 54;
}

#u5664-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 232px;
	left: 81px;
}

#u5664-4popup
{
	z-index: 58;
}

#u5663-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 233px;
	left: 11px;
}

#u5663-4popup
{
	z-index: 62;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#slideshowu5788
{
	z-index: 66;
	width: 0.01px;
	height: 1195px;
	position: relative;
	margin-right: -10000px;
	margin-top: 554px;
	left: 60px;
}

#u5789
{
	position: absolute;
	width: 381px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -63px;
	left: -60px;
	-pie-background: rgba(0,0,0,0.9);
}

#u5789popup
{
	z-index: 67;
}

#u5800
{
	z-index: 68;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5879
{
	z-index: 70;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5888
{
	z-index: 72;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5897
{
	z-index: 74;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5906
{
	z-index: 76;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5915
{
	z-index: 78;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5924
{
	z-index: 80;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5933
{
	z-index: 82;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5942
{
	z-index: 84;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5951
{
	z-index: 86;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5960
{
	z-index: 88;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5969
{
	z-index: 90;
	width: 337px;
	height: 297px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5800_img,#u5879_img,#u5888_img,#u5897_img,#u5906_img,#u5915_img,#u5924_img,#u5933_img,#u5942_img,#u5951_img,#u5960_img,#u5969_img
{
	padding: 24px 72px;
}

#u5808
{
	position: absolute;
	width: 256px;
}

#u5808popup
{
	z-index: 92;
}

#u5817
{
	z-index: 93;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5882
{
	z-index: 95;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u5817:hover,#u5882:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5891
{
	z-index: 97;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 1px;
}

#u5900
{
	z-index: 99;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 147px;
}

#u5891:hover,#u5900:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 201px -10000px 0px 0px;
}

#u5909
{
	z-index: 101;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 1px;
}

#u5918
{
	z-index: 103;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 147px;
}

#u5909:hover,#u5918:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 401px -10000px 0px 0px;
}

#u5927
{
	z-index: 105;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 1px;
}

#u5936
{
	z-index: 107;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 149px;
}

#u5927:hover,#u5936:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 602px -10000px 0px 0px;
}

#u5945
{
	z-index: 109;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 803px;
	left: 1px;
}

#u5954
{
	z-index: 111;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 803px;
	left: 149px;
}

#u5945:hover,#u5954:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 803px -10000px 0px 0px;
}

#u5963
{
	z-index: 113;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1003px;
	left: 1px;
}

#u5963:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 1003px -10000px 0px 0px;
}

#u5972
{
	z-index: 115;
	width: 107px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1004px;
	left: 149px;
}

#u5972:hover
{
	width: 107px;
	height: 190px;
	min-height: 0px;
	margin: 1004px -10000px 0px 0px;
}

#u5822
{
	position: absolute;
	width: 200px;
	background-color: transparent;
	top: 253px;
	left: 29px;
}

#u5822popup
{
	z-index: 117;
}

#u5828-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5885-4
{
	z-index: 122;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5894-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5903-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5912-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5921-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5930-4
{
	z-index: 142;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5939-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5948-4
{
	z-index: 150;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5957-4
{
	z-index: 154;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5966-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5975-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5805-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 278px;
	left: 29px;
}

#u5805-4popup
{
	z-index: 166;
}

#u5804-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 278px;
	left: 129px;
}

#u5804-4popup
{
	z-index: 170;
}

#u5821-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 278px;
	left: 59px;
}

#u5821-4popup
{
	z-index: 174;
}

#ppu6693
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 31px;
}

#u6693
{
	z-index: 179;
	margin-left: 110px;
	position: relative;
}

#u6693_states
{
	height: 48px;
	width: 94px;
	vertical-align: top;
	background: url("../../images/u6693_states.png") no-repeat 6px 6px;
}

#u6693:hover #u6693_states
{
	background: url("../../images/u6693_states-r.png") no-repeat 0px 0px;
}

#u6847-4
{
	z-index: 183;
	display: block;
	vertical-align: top;
	margin-top: 1722px;
	position: relative;
}

#u6794
{
	z-index: 181;
	width: 50px;
	background-color: transparent;
	position: fixed;
	top: 23px;
	left: 318px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
}

