.version.editorial /* version checker */
{
	color: #000012;
	background-color: #19F05E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/patrones.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 340px;
	min-height: 540px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 11px 20px 19px;
}

#pu5374
{
	width: 0.01px;
	margin-left: 9px;
}

#u5374
{
	z-index: 151;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u4922
{
	z-index: 2;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5368
{
	z-index: 149;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 283px;
}

#u4928-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 131px;
	margin-top: 8px;
	position: relative;
}

#u4929-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 133px;
	margin-top: 9px;
	position: relative;
}

#slideshowu4930
{
	z-index: 16;
	width: 0.01px;
	height: 163px;
	margin-top: 6px;
	position: relative;
}

#u4940popup
{
	z-index: 17;
}

#u4943
{
	z-index: 18;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5007
{
	z-index: 20;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5016
{
	z-index: 22;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5025
{
	z-index: 24;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4934popup
{
	z-index: 26;
}

#u4936-4
{
	z-index: 27;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5013-4
{
	z-index: 31;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5022-4
{
	z-index: 35;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5031-4
{
	z-index: 39;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4939-4popup
{
	z-index: 43;
}

#u4948-4popup
{
	z-index: 47;
}

#u4938-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#slideshowu5112
{
	z-index: 112;
	width: 0.01px;
	height: 324px;
	margin-top: 16px;
	position: relative;
}

#u5127
{
	position: absolute;
	width: 208px;
	height: 284px;
	background-color: transparent;
	left: 67px;
}

#u5127popup
{
	z-index: 113;
}

#u5132
{
	z-index: 114;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5132_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u5168
{
	z-index: 116;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5168_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u5177
{
	z-index: 118;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5132_clip,#u5168_clip,#u5177_clip
{
	overflow: hidden;
	width: 208px;
	height: 284px;
}

#u5177_img
{
	margin-top: -9px;
	margin-bottom: -8px;
}

#u5136
{
	position: absolute;
	width: 212px;
	background-color: transparent;
	top: 283px;
}

#u5136popup
{
	z-index: 120;
}

#u5138-4
{
	z-index: 121;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5174-4
{
	z-index: 125;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5183-4
{
	z-index: 129;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5124-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 240px;
}

#u5124-4popup
{
	z-index: 133;
}

#u5122-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 210px;
}

#u5122-4popup
{
	z-index: 137;
}

#u5126-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 309px;
}

#u5126-4popup
{
	z-index: 141;
}

#u5186-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 83px;
	margin-top: 24px;
	position: relative;
}

#slideshowu5187
{
	z-index: 55;
	width: 0.01px;
	height: 163px;
	margin-top: 25px;
	position: relative;
}

#u4940,#u5202
{
	position: absolute;
	width: 339px;
	height: 123px;
	background-color: transparent;
}

#u5202popup
{
	z-index: 56;
}

#u5207
{
	z-index: 57;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5263
{
	z-index: 59;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5272
{
	z-index: 61;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5281
{
	z-index: 63;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5290
{
	z-index: 65;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5299
{
	z-index: 67;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5308
{
	z-index: 69;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4943_clip,#u5007_clip,#u5016_clip,#u5025_clip,#u5207_clip,#u5263_clip,#u5272_clip,#u5281_clip,#u5290_clip,#u5299_clip,#u5308_clip
{
	overflow: hidden;
	width: 339px;
	height: 123px;
}

#u4943_img,#u5007_img,#u5016_img,#u5025_img,#u5207_img,#u5263_img,#u5272_img,#u5281_img,#u5290_img,#u5299_img,#u5308_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u4934,#u5211
{
	position: absolute;
	width: 212px;
	background-color: transparent;
	top: 123px;
}

#u5211popup
{
	z-index: 71;
}

#u5213-4
{
	z-index: 72;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5269-4
{
	z-index: 76;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5278-4
{
	z-index: 80;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5287-4
{
	z-index: 84;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5296-4
{
	z-index: 88;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5305-4
{
	z-index: 92;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5314-4
{
	z-index: 96;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4939-4,#u5199-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
	left: 240px;
}

#u5199-4popup
{
	z-index: 100;
}

#u4948-4,#u5197-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
	left: 210px;
}

#u5197-4popup
{
	z-index: 104;
}

#u4939,#u4948,#u5124,#u5122,#u5199,#u5197
{
	color: #999999;
}

#u4938-4,#u5201-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 123px;
	left: 309px;
}

#u5201-4popup
{
	z-index: 108;
}

#u5338-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 30px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

