.version.editoriale /* version checker */
{
	color: #0000FD;
	background-color: #9A41D0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/patrones.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 340px;
	min-height: 540px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 11px 20px 19px;
}

#pu5761
{
	width: 0.01px;
	margin-left: 9px;
}

#u5761
{
	z-index: 151;
	width: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u5681
{
	z-index: 2;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u5683
{
	z-index: 149;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 283px;
}

#u5688-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 131px;
	margin-top: 8px;
	position: relative;
}

#u5686-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 125px;
	margin-top: 9px;
	position: relative;
}

#slideshowu5650
{
	z-index: 16;
	width: 0.01px;
	height: 163px;
	margin-top: 6px;
	position: relative;
}

#u5665popup
{
	z-index: 17;
}

#u5672
{
	z-index: 18;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5666
{
	z-index: 20;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5668
{
	z-index: 22;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5670
{
	z-index: 24;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5674popup
{
	z-index: 26;
}

#u5677-4
{
	z-index: 27;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5675-4
{
	z-index: 31;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5678-4
{
	z-index: 35;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5676-4
{
	z-index: 39;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5662-4popup
{
	z-index: 43;
}

#u5660-4popup
{
	z-index: 47;
}

#u5664-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#slideshowu5689
{
	z-index: 112;
	width: 0.01px;
	height: 324px;
	margin-top: 16px;
	position: relative;
}

#u5708
{
	position: absolute;
	width: 208px;
	height: 284px;
	background-color: transparent;
	left: 67px;
}

#u5708popup
{
	z-index: 113;
}

#u5709
{
	z-index: 114;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5709_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u5711
{
	z-index: 116;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5711_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u5713
{
	z-index: 118;
	width: 208px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5709_clip,#u5711_clip,#u5713_clip
{
	overflow: hidden;
	width: 208px;
	height: 284px;
}

#u5713_img
{
	margin-top: -9px;
	margin-bottom: -8px;
}

#u5704
{
	position: absolute;
	width: 212px;
	background-color: transparent;
	top: 283px;
}

#u5704popup
{
	z-index: 120;
}

#u5706-4
{
	z-index: 121;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5707-4
{
	z-index: 125;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5705-4
{
	z-index: 129;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5693-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 240px;
}

#u5693-4popup
{
	z-index: 133;
}

#u5695-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 210px;
}

#u5695-4popup
{
	z-index: 137;
}

#u5703-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 283px;
	left: 309px;
}

#u5703-4popup
{
	z-index: 141;
}

#u5685-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 94px;
	margin-top: 24px;
	position: relative;
}

#slideshowu5715
{
	z-index: 55;
	width: 0.01px;
	height: 163px;
	margin-top: 25px;
	position: relative;
}

#u5665,#u5717
{
	position: absolute;
	width: 339px;
	height: 123px;
	background-color: transparent;
}

#u5717popup
{
	z-index: 56;
}

#u5728
{
	z-index: 57;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5720
{
	z-index: 59;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5724
{
	z-index: 61;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5718
{
	z-index: 63;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5726
{
	z-index: 65;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5730
{
	z-index: 67;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5722
{
	z-index: 69;
	width: 339px;
	height: 123px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5672_clip,#u5666_clip,#u5668_clip,#u5670_clip,#u5728_clip,#u5720_clip,#u5724_clip,#u5718_clip,#u5726_clip,#u5730_clip,#u5722_clip
{
	overflow: hidden;
	width: 339px;
	height: 123px;
}

#u5672_img,#u5666_img,#u5668_img,#u5670_img,#u5728_img,#u5720_img,#u5724_img,#u5718_img,#u5726_img,#u5730_img,#u5722_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u5674,#u5732
{
	position: absolute;
	width: 212px;
	background-color: transparent;
	top: 123px;
}

#u5732popup
{
	z-index: 71;
}

#u5738-4
{
	z-index: 72;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5733-4
{
	z-index: 76;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5735-4
{
	z-index: 80;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5736-4
{
	z-index: 84;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5739-4
{
	z-index: 88;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5737-4
{
	z-index: 92;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5734-4
{
	z-index: 96;
	width: 192px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5662-4,#u5743-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
	left: 240px;
}

#u5743-4popup
{
	z-index: 100;
}

#u5660-4,#u5716-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 124px;
	left: 210px;
}

#u5716-4popup
{
	z-index: 104;
}

#u5662,#u5660,#u5693,#u5695,#u5743,#u5716
{
	color: #999999;
}

#u5664-4,#u5760-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 123px;
	left: 309px;
}

#u5760-4popup
{
	z-index: 108;
}

#u5687-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 30px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

