.version.ilustracion /* version checker */
{
	color: #000016;
	background-color: #2B985B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/backgroundv32.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 548px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 22px;
}

#slideshowu4703
{
	z-index: 2;
	width: 0.01px;
	height: 202px;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 14px;
}

#u4728
{
	position: absolute;
	width: 352px;
	height: 160px;
	background-color: transparent;
}

#u4728popup
{
	z-index: 3;
}

#u4729
{
	z-index: 4;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4735
{
	z-index: 6;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4737
{
	z-index: 8;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4733
{
	z-index: 10;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4731
{
	z-index: 12;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5415
{
	z-index: 14;
	width: 352px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4729_clip,#u4735_clip,#u4737_clip,#u4733_clip,#u4731_clip,#u5415_clip
{
	overflow: hidden;
	width: 352px;
	height: 160px;
}

#u4729_img,#u4735_img,#u4737_img,#u4733_img,#u4731_img,#u5415_img
{
	margin-left: -39px;
	margin-right: -39px;
}

#u4707
{
	position: absolute;
	width: 254px;
	background-color: transparent;
	top: 162px;
}

#u4707popup
{
	z-index: 16;
}

#u4712-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4708-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4709-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4710-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4711-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5421-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4713-4
{
	position: absolute;
	width: 44px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 160px;
	left: 257px;
}

#u4713-4popup
{
	z-index: 41;
}

#u4704-4
{
	position: absolute;
	width: 6px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 160px;
	left: 226px;
}

#u4704-4popup
{
	z-index: 45;
}

#u4714-4
{
	position: absolute;
	width: 6px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 160px;
	left: 324px;
}

#u4714-4popup
{
	z-index: 49;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#slideshowu4750
{
	z-index: 53;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 461px;
	left: 26px;
}

#u4760
{
	position: absolute;
	width: 276px;
	height: 360px;
	background-color: transparent;
	left: 26px;
}

#u4760popup
{
	z-index: 54;
}

#u4763
{
	z-index: 55;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4838
{
	z-index: 57;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4847
{
	z-index: 59;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4856
{
	z-index: 61;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4865
{
	z-index: 63;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4874
{
	z-index: 65;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4883
{
	z-index: 67;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4892
{
	z-index: 69;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4901
{
	z-index: 71;
	width: 276px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4763_clip,#u4838_clip,#u4847_clip,#u4856_clip,#u4865_clip,#u4874_clip,#u4883_clip,#u4892_clip,#u4901_clip
{
	overflow: hidden;
	width: 276px;
	height: 360px;
}

#u4763_img,#u4838_img,#u4847_img,#u4856_img,#u4865_img,#u4874_img,#u4883_img,#u4892_img,#u4901_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u4754
{
	position: absolute;
	width: 226px;
	background-color: transparent;
	top: 360px;
}

#u4754popup
{
	z-index: 73;
}

#u4756-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4844-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4853-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4862-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4871-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4880-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4889-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4898-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4907-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4759-4
{
	position: absolute;
	width: 38px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 244px;
}

#u4759-4popup
{
	z-index: 110;
}

#u4768-4
{
	position: absolute;
	width: 2px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 222px;
}

#u4768-4popup
{
	z-index: 114;
}

#u4713,#u4704,#u4759,#u4768
{
	color: #999999;
}

#u4758-4
{
	position: absolute;
	width: 1px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 302px;
}

#u4758-4popup
{
	z-index: 118;
}

#u5362
{
	z-index: 140;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 31px;
}

#pu4911-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 110px;
}

#u4911-4
{
	z-index: 122;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#u4912-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	margin-top: 4px;
	position: relative;
}

#u4913-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 253px;
	position: relative;
}

#u5350
{
	z-index: 138;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 314px;
}

#u5336-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 888px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -888px;
}

