.version.index /* version checker */
{
	color: #0000E8;
	background-color: #B788C3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/backgroundv33.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 332px;
	min-height: 528.7605263157895px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 18px 22px 23.239473684210452px 26px;
}

#pu5489-4
{
	width: 0.01px;
	margin-left: 103px;
}

#u5489-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u5490
{
	z-index: 6;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#pu5496-7
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 19px;
}

#u5496-7
{
	z-index: 8;
	width: 267px;
	min-height: 255px;
	background-color: transparent;
	text-align: justify;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u5496-3
{
	font-size: 12px;
	line-height: 14px;
}

#u5496-5
{
	font-size: 13px;
	line-height: 16px;
}

#u5497
{
	z-index: 15;
	width: 267px;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
}

#u5498-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 26px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

