.version.nataliagdmenu /* version checker */
{
	color: #000012;
	background-color: #3CAF39;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 538px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu5278
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: -100px;
}

#u5278
{
	z-index: 2;
	width: 1366px;
	height: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#U5280_animation
{
	width: 1366px;
	height: 600px;
	border: none;
}

#u3242
{
	z-index: 3;
	height: 155px;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3242-bw
{
	z-index: 3;
	margin-top: 449px;
	height: 155px;
}

#u3142
{
	z-index: 5;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 462px;
	left: 580px;
}

#u3142_states
{
	height: 50px;
	width: 94px;
	vertical-align: top;
	background: url("../images/u3142_states.png") no-repeat 6px 6px;
}

#u3142:hover #u3142_states
{
	background: url("../images/u3142_states-r.png") no-repeat 0px 0px;
}

#u3178
{
	z-index: 8;
	position: relative;
	width: 58px;
	margin-right: -10000px;
	margin-top: 464px;
	left: 480px;
}

#u3178_states
{
	height: 48px;
	width: 58px;
	vertical-align: top;
	background: url("../images/u3178_states.png") no-repeat 6px 6px;
}

#u3178:hover #u3178_states
{
	background: url("../images/u3178_states-r.png") no-repeat 0px 0px;
}

#u3143
{
	z-index: 11;
	position: relative;
	width: 79px;
	margin-right: -10000px;
	margin-top: 465px;
	left: 717px;
}

#u3143_states
{
	height: 46px;
	width: 79px;
	vertical-align: top;
	background: url("../images/u3143_states.png") no-repeat 6px 5px;
}

#u3143:hover #u3143_states
{
	background: url("../images/u3143_states-r.png") no-repeat 0px 0px;
}

#u3145
{
	z-index: 14;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 465px;
	left: 839px;
}

#u3145_states
{
	height: 46px;
	width: 85px;
	vertical-align: top;
	background: url("../images/u3145_states.png") no-repeat 7px 5px;
}

#u3145:hover #u3145_states
{
	background: url("../images/u3145_states-r.png") no-repeat 0px 0px;
}

#u3146
{
	z-index: 17;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 465px;
	left: 966px;
}

#u3146_states
{
	height: 46px;
	width: 85px;
	vertical-align: top;
	background: url("../images/u3146_states.png") no-repeat 7px 5px;
}

#u3146:hover #u3146_states
{
	background: url("../images/u3146_states-r.png") no-repeat 0px 0px;
}

#u3249
{
	z-index: 19;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 426px;
}

#u7440-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 456px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -555px;
}

